.container__imagem {
  border-radius: 50%;
  height: 300px;
  overflow: hidden;
  padding: 8px;
  width: 300px;
  margin: 0 auto; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container__imagem img {
  border-radius: 50%;
  display: block;
  filter: grayscale(100%);
  height: 100%;
  object-fit: cover;
  width: 100%;
}
/* 
.container__imagem img:hover {
  filter: grayscale(0%);
} */