* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--rosa-clarissimo);
  color: var(--preto);
  font-family: var(--fonte-principal)
}

html {
  scroll-behavior: smooth;
}

.container-personalizado {
  height: 100vh;
  margin: 3em;
}

.divisor {
  border: none;
  border-top: 1px solid var(--rosa-claro);
  width: 100%;
  margin: 2rem 0;
}
