@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url(navbar.css);
@import url(root.css);
@import url(imagem.css);
* {
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--preto);
  color: var(--branco);
  font-family: 'Roboto Mono', monospace;
}

.container {
  height: 100vh;
}

/* Nova classe para o texto dentro do principal */
.principal__texto {
  text-align: left;
  padding-right: 2em;
}



.container__lista {
  display: flex;
  gap: 1.5em;
  justify-content: flex-start; /* para ficar alinhado com o texto */
  list-style: none;
  padding: 0;
}

.container__lista li svg {
  animation: brilhar-svg 2s infinite ease-in-out;
  fill: var(--rosa-escuro);
  filter: drop-shadow(0 0 4px var(--rosa-escuro));
  height: 40px;
  transition: transform 0.3s;
  width: 40px;
}

.container__lista li svg:hover {
  transform: scale(1.1);
}

.container__subtitulo {
  font-family: var(--fonte-principal);
}

.container__texto {
  font-family: var(--fonte-principal);
  font-size: 20px;
  font-weight: 600;
  margin: 1em 0;
}

.container__titulo {
  font-family: var(--fonte-principal);
  font-size: 30px;
}

html {
  scroll-behavior: smooth;
}

.principal {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin-top: 2em;
  padding: 0 6em; /* para dar espaçamento lateral */
  gap: 2em;
  text-align: left; /* muda para texto alinhado à esquerda */
}

@keyframes brilho-svg {
  0%, 100% {
    filter: drop-shadow(0 0 4px var(--rosa-escuro));
  }
  50% {
    filter: drop-shadow(0 0 12px var(--rosa-escuro));
  }
}

@keyframes brilhar {
  0%, 100% {
    box-shadow: 0 0 10px var(--rosa-escuro);
  }
  50% {
    box-shadow: 0 0 25px var(--rosa-escuro);
  }
}
